header {
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 20px;
}

h2 {
    padding: 0.3%;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}

/*header navbar*/
* {
    padding: 0;
    margin: 0
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: 1% auto;
    display: flex;
}

.menu>li {
    width: 20%;
    /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #fefefe;
}

li {
    list-style: none
}

.menu a {
    color: #000000;
}

a {
    text-decoration: none;
    font-size: 14px
}

.submenu {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.submenu>li {
    line-height: 50px;
    background-color: rgb(109, 132, 184);
}

.menu>li:hover {
    background-color: rgb(109, 132, 184);
    transition-duration: 0.5s;
}

.menu>li:hover .submenu {
    height: 250px;
    /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

section {
    width: 70%;
    height: 600px;
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

article {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar {
    width: 30%;
    height: 600px;
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
    float: right;
}

.container {
    background-color: rgb(109, 132, 184);
    /*占쏙옙占쏙옙*/
    display: flex;
    /*占쏙옙撚占? 占쌩억옙 占쏙옙치*/
    flex-direction: row;
    padding: 32px 0;
    /*占쏙옙 占싣뤄옙 占쏙옙占쏙옙占쏙옙占쏙옙*/
}

.input-container {
    width: 80%;
    margin: 3%;
    /*占쏙옙占쏙옙*/
    display: flex;
    align-self: center;
    /*占쌘듸옙 占쌩억옙 占쏙옙치*/
    justify-content: space-between;
    /*占쌘듸옙 占신몌옙占싸깍옙*/
}

#input {
    width: 70%;
    padding: 8px 12px;
    /*占쏙옙占쏙옙*/
    border-radius: 4px;
    /*占쌉뤄옙창占쏙옙 占쏜서몌옙占쏙옙 占쌌글곤옙*/
    border: 1px solid #eaeaea;
    /*占쏙옙雍?*/
}

#search-button {
    width: 20%;
    background-color: rgb(109, 132, 184);
    border-radius: 4px;
    border: 1px solid rgb(109, 132, 184);
    color: white;
}

aside h1 {
    padding: 5%;
}

.list-container {
    display: flex;
    flex-direction: column;
    /*占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙*/
    margin-top: 48px;
    /*占쌉뤄옙창占쏙옙 占신몌옙占쏙옙 占싻댐옙.*/
    width: 80%;
    margin: 10% 3%;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: white;
}

.list-item {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    margin: 3%;
    padding: 16px 0;
    font-size: 14px;
}

main {
    /* 占쏙옙占싸뤄옙 占쏙옙占쏙옙占싹깍옙 */
    display: flex;
}


footer {
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
}

footer address a {
    /* a占쏙옙 占싸띰옙占쏙옙 占쏙옙耐占? 占쏙옙占쏙옙占쏙옙 block占쏙옙占쏙옙 占쏙옙占쏙옙底? 占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙占싹곤옙 占쏙옙 */
    display: block;
}
