header {
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 20px;
}

h2 {
    padding: 0.3%;
    margin: 0;
    border-bottom: 1px solid #eaeaea;
}

/*header navbar*/
* {
    padding: 0;
    margin: 0
}

.menu {
    width: 800px;
    overflow: hidden;
    margin: 1% auto;
    display: flex;
}

.menu>li {
    width: 20%;
    /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #fefefe;
}

li {
    list-style: none
}

.menu a {
    color: #000000;
}

a {
    text-decoration: none;
    font-size: 14px
}

.submenu {
    height: 0;
    /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.submenu>li {
    line-height: 50px;
    background-color: rgb(109, 132, 184);
}

.menu>li:hover {
    background-color: rgb(109, 132, 184);
    transition-duration: 0.5s;
}

.menu>li:hover .submenu {
    height: 250px;
    /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

section {
    width: 70%;
    height: 600px;
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

article {
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar {
    width: 30%;
    height: 600px;
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
    float: right;
}

.container {
    background-color: rgb(109, 132, 184);
    /*배경색*/
    display: flex;
    /*요소들 중앙 배치*/
    flex-direction: row;
    padding: 32px 0;
    /*위 아래 여백지정*/
}

.input-container {
    width: 80%;
    margin: 3%;
    /*넓이*/
    display: flex;
    align-self: center;
    /*자동 중앙 배치*/
    justify-content: space-between;
    /*자동 거리두기*/
}

#input {
    width: 70%;
    padding: 8px 12px;
    /*여백*/
    border-radius: 4px;
    /*입력창의 모서리를 둥글게*/
    border: 1px solid #eaeaea;
    /*경계선*/
}

#search-button {
    width: 20%;
    background-color: rgb(109, 132, 184);
    border-radius: 4px;
    border: 1px solid rgb(109, 132, 184);
    color: white;
}

aside h1 {
    padding: 5%;
}

.list-container {
    display: flex;
    flex-direction: column;
    /*수직으로 쌓음*/
    margin-top: 48px;
    /*입력창과 거리를 둔다*/
    width: 80%;
    margin: 10% 3%;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: white;
}

.list-item {
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    margin: 3%;
    padding: 16px 0;
    font-size: 14px;
}

main {
    /* 가로로 정렬하기 */
    display: flex;
}


footer {
    background-color: rgb(109, 132, 184);
    margin: 10px;
    padding: 10px;
}

footer address a {
    /* a는 인라인 요소기 때문에 block으로 만들어서 수직으로 정렬하게 함 */
    display: block;
}
